body {
    background-image: url('bgg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    height: 100px;
  }
  /* * {
    box-sizing: border-box; 
  } */
a {
    color: black;
    text-decoration: none;
}
.bars {
  float: right;
  padding: 1.5rem;
  font-size: 20px;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .bars {
      font-size: 14px;
      padding: 1rem;
  }
}

@media (max-width: 480px) {
  .bars {
      font-size: 10px;
      padding: 0.2rem; 
  }
}
